# Alchemy API Key
ALCHEMY_API_KEY=YF_r89mDAkK17Qrdqlfm3

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCfxmI5yHoM0iPKM_T8omI1xjTr4AcVo5I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=blue-square-e3040.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=blue-square-e3040
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=blue-square-e3040.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=198973662785
NEXT_PUBLIC_FIREBASE_APP_ID=1:198973662785:web:694f0f127df867afd2c8c0


# MiniKit Configuration (if needed)
NEXT_PUBLIC_CDP_CLIENT_API_KEY=your_cdp_api_key_here
NEXT_PUBLIC_URL=your_deployed_url_here 